- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name=>'description', :content=>"#{@offerpage.description}"}
    %meta{:name=>'keywords', :content=>"#{@offerpage.keywords}"}
    -# meta tags for the Open Graph protocol for Facebook
    %meta{:property => "og:title", :content => "#{@offerpage.title}"}
    %meta{:property => "og:type", :content => "product"}
    %meta{:property => "og:url", :content => "#{@permalink}"}
    %meta{:property => "og:image", :content => ""}
    %meta{:property => "og:description", :content => "#{@offerpage.description}"}
    %meta{:property => "og:site_name", :content => "#{@settings.site_name}"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    %title
      = @offerpage.title
    %body.offerpages
      .container
        .recommend.sixteen.columns
          %ul
            %li
              %g:plusone{:count => "medium", :size => "small"}
        %hr/
        %section.sixteen.columns
          %header
            %hgroup
              %h1
                = @offerpage.headline
              %h2
                = @offerpage.subhead
          = @content_block1
        %section.twelve.columns
          = @content_block2
        - if @testimonials       
          %aside.four.columns
            %section
              %h1
                Testimonials
              = @testimonials
        %section.sixteen.columns
          = @offer_block
        %footer.sixteen.columns
          %hr/
          #fb-root
            %fb:like{:action => "recommend", :send => "true", :show_faces => "false", :width => "450"}
      -# Javascript for Facebook, Twitter, and Google+ sharing
      %script{:type => "text/javascript",
                  :src  => "http://connect.facebook.net/en_US/all.js#appId=176448065752391&xfbml=1"}
      %script{:type => "text/javascript",
                  :src  => "http://platform.twitter.com/widgets.js"}
      %script{:type => "text/javascript",
                  :src  => "https://apis.google.com/js/plusone.js"}