%h2 Articles

%table
  - @articles.each do |article|
    %tr
      %td.three.columns= link_to article.title, article
      %td.two.columns= link_to 'Edit', edit_article_path(article)
      %td.two.columns= link_to 'Publish', publish_article_path(article)
      %td.two.columns= link_to 'Remove', article, :confirm => 'Are you sure?', :method => :delete
      %td.two.columns= link_to "/website/articles/#{article.filename}.html", "/website/articles/#{article.filename}.html"

%br

= link_to 'New Article', new_article_path
