- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name=>'keywords', :content=>"#{@article.description}"}
    %meta{:name=>'description', :content=>"#{@article.description}"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    %title
      = @article.title
    %body.articles
      .container
        .logo.sixteen.columns
          .sitename
            = link_to @settings.site_name, root_url
          .tagline
            = @settings.tagline
        %hr/
        %article.twelve.columns
          %header
            %hgroup
              %h1
                = @article.headline
              %h2
                = @article.subhead
          = @article.content
        %aside.four.columns
          %section
            %h1
              Recommend This Article
            %ul
              %li
                Share on Facebook
              %li
                Share on Twitter
              %li
                Share on Google+
          %section
            %h1
              Related Articles
            %ul
              %li
                one article
              %li
                two article
              %li
                three article
              %li
                four article