%p
  %b Site Name:
  = @setting.site_name
%p
  %b Domain:
  = @setting.domain
%p
  %b Tagline:
  = @setting.tagline
  
%p
  %b Articles directory:
  = @setting.articles_directory
  
%p
  %b Twitter account:
  = @setting.twitter_account

= link_to 'Edit', edit_setting_path(@setting)
\|
= link_to 'Back', settings_path
